.recipe{
  width:600px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.recipe h1{
  padding:25px 0;
}

.recipe li{
  padding:6px 0;
  text-align: center;
}

.recipes{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.search-form{
  display: flex;
  justify-content: center;
  padding:30px;
}

.search-form input{
  padding:10px 30px;
  border:none;
  border-bottom:1px solid black;
  outline:none;
  margin:0 15px;
  text-align:center;
  width:400px;
  font-size:15px;
}

.search-form input:focus{
  border-bottom:1px solid black;
  outline:none;
}

.search-form button{
  padding:0 30px;
  border:1px solid black;
}

ol{
  list-style-type: none;
  margin-bottom:15px;
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
}

.nav-links{
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.nav-links li{
  margin:0 10px;
}

.calories{
  margin-bottom:15px;
}